export FSTYP=ext2

# TEST_DEV and SCRATCH_DEV are set by run_xfstests.sh from
# /dev/disk/by-id/virtio-vxfstest and virtio-vxfsscratch.

export TEST_DIR=/opt/xfstests/test
export SCRATCH_MNT=/opt/xfstests/scratch

export MOUNT_OPTIONS="-o noacl"
export EXT_MOUNT_OPTIONS="-o noacl"

export FSTYP_HAS_NON_DEFAULT_OPTS=0
export SELINUX_MOUNT_OPTIONS=" "

export MKFS_OPTIONS="-F"
