regression/apps/hello_world/hello_world filter=lfs diff=lfs merge=lfs -text
regression/apps/fork/fork filter=lfs diff=lfs merge=lfs -text
regression/apps/hello_c/hello filter=lfs diff=lfs merge=lfs -text
regression/apps/execve/execve filter=lfs diff=lfs merge=lfs -text
regression/apps/execve/hello filter=lfs diff=lfs merge=lfs -text
regression/apps/fork_c/fork filter=lfs diff=lfs merge=lfs -text
regression/apps/signal_c/signal_test filter=lfs diff=lfs merge=lfs -text
regression/apps/busybox/busybox filter=lfs diff=lfs merge=lfs -text
regression/apps/pthread/pthread_test filter=lfs diff=lfs merge=lfs -text
regression/apps/hello_pie/hello filter=lfs diff=lfs merge=lfs -text
regression/apps/network/tcp/client filter=lfs diff=lfs merge=lfs -text
regression/apps/network/tcp/server filter=lfs diff=lfs merge=lfs -text
regression/apps/network/udp/client filter=lfs diff=lfs merge=lfs -text
regression/apps/network/udp/server filter=lfs diff=lfs merge=lfs -text