src/test/apps/hello_world/hello_world filter=lfs diff=lfs merge=lfs -text
src/test/apps/fork/fork filter=lfs diff=lfs merge=lfs -text
src/test/apps/hello_c/hello filter=lfs diff=lfs merge=lfs -text
src/test/apps/execve/execve filter=lfs diff=lfs merge=lfs -text
src/test/apps/execve/hello filter=lfs diff=lfs merge=lfs -text
src/test/apps/fork_c/fork filter=lfs diff=lfs merge=lfs -text
src/test/apps/signal_c/signal_test filter=lfs diff=lfs merge=lfs -text
src/test/apps/busybox/busybox filter=lfs diff=lfs merge=lfs -text
src/test/apps/pthread/pthread_test filter=lfs diff=lfs merge=lfs -text