#![no_std]
#![no_main]
#![forbid(unsafe_code)]

#[macro_use]
extern crate ktest;

use aster_frame::prelude::*;

#[aster_main]
fn kernel_main() -> ! {
    println!("Hello world from guest kernel!");
    loop {}
}

#[cfg(ktest)]
mod test {
    #[ktest]
    fn trivial_test() {
        assert_eq!(1 + 1, 2);
    }
}
