# One should also update asterinas/rust-toolchain.toml when updating this.
# The first two lines will be deleted when generating the user's toolchain file.
[toolchain]
channel = "nightly-2025-02-01"
components = ["rust-src", "rustc-dev", "llvm-tools-preview"]
