[package]
name = "asterinas"
version = "0.4.0"
edition = "2021"

[dependencies]
id-alloc = { path = "../ostd/libs/id-alloc" }
ostd = { path = "../ostd" }
aster-nix = { path = "aster-nix" }
component = { path = "libs/comp-sys/component" }

[dev-dependencies]
x86_64 = "0.14.2"
aster-time = { path = "comps/time" }
aster-framebuffer = { path = "comps/framebuffer" }

[features]
intel_tdx = ["ostd/intel_tdx", "aster-nix/intel_tdx"]
