[scheme."tdx"]
boot.method = "grub-qcow2"
grub.boot_protocol = "linux"
qemu.args = """
    -accel kvm \
    -m 8G \
    -smp 1 \
    -vga none \
    -nographic \
    -monitor pty \
    -nodefaults \
    -bios /root/ovmf/release/OVMF.fd \
    -object tdx-guest,sept-ve-disable=on,id=tdx0 \
    -cpu host,-kvm-steal-time,pmu=off \
    -machine q35,kernel-irqchip=split,confidential-guest-support=tdx0 \
    -device virtio-keyboard-pci,disable-legacy=on,disable-modern=off \
    -chardev stdio,id=mux,mux=on,logfile=qemu.log \
    -device virtio-serial,romfile= \
    -device virtconsole,chardev=mux \
    -device isa-debug-exit,iobase=0xf4,iosize=0x04 \
    -monitor chardev:mux \
    -serial chardev:mux \
"""