# SPDX-License-Identifier: MPL-2.0

export FSTYP=ext4

export TEST_DEV=${XFSTESTS_TEST_DEV:-/dev/vdd}
export SCRATCH_DEV=${XFSTESTS_SCRATCH_DEV:-/dev/vde}

export TEST_DIR=/opt/xfstests/test
export SCRATCH_MNT=/opt/xfstests/scratch

export MOUNT_OPTIONS="-o noacl"
export EXT_MOUNT_OPTIONS="-o noacl"
export FSTYP_HAS_NON_DEFAULT_OPTS=0
export SELINUX_MOUNT_OPTIONS=" "

export MKFS_OPTIONS="-F -b 4096 -I 256 -O extent,filetype,^has_journal,^metadata_csum,^64bit,^flex_bg,^inline_data,^resize_inode,^dir_index,^huge_file,^dir_nlink,^extra_isize"
