export FSTYP=ext2

export TEST_DEV=/dev/vdc
export TEST_DIR=/xfstests/test

export SCRATCH_DEV=/dev/vdd
export SCRATCH_MNT=/xfstests/scratch

export MOUNT_OPTIONS="-o noload,noacl"
export EXT_MOUNT_OPTIONS="-o noload,noacl"

export FSTYP_HAS_NON_DEFAULT_OPTS=0
export SELINUX_MOUNT_OPTIONS=" "

export MKFS_OPTIONS="-F"
