# SPDX-License-Identifier: MPL-2.0

export FSTYP=virtiofs

# Virtio-fs devices are identified by their QEMU mount tags.
export TEST_DEV=${XFSTESTS_TEST_DEV:-xfstest}
export SCRATCH_DEV=${XFSTESTS_SCRATCH_DEV:-xfsscratch}

export TEST_DIR=/opt/xfstests/test
export SCRATCH_MNT=/opt/xfstests/scratch

export MOUNT_OPTIONS=""
export EXT_MOUNT_OPTIONS=""
export FSTYP_HAS_NON_DEFAULT_OPTS=0
export SELINUX_MOUNT_OPTIONS=" "
export MKFS_OPTIONS=""
