# Reference: https://github.com/ruby/ruby-dev-builder/blob/b0bf59a17c17985d4692243d4689c273f6348fa5/.github/workflows/build.yml.
on:
  workflow_dispatch:
  push:
    tags:
    - '*'

jobs:
  create-release:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Get Asterinas version
        id: tag
        run: |
          ASTER_VERSION=$(cat ./VERSION)
          echo "ASTER_VERSION=${ASTER_VERSION}"
          echo "tag=${ASTER_VERSION}" >> $GITHUB_OUTPUT

      - name: Create release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          tag="${{ steps.tag.outputs.tag }}"
          body="asterinas-nixos/asterinas@$tag"
          echo "tag=$tag"
          echo "body=$body"
          gh release create --draft "$tag" --title "$tag" --notes "$body"

  build-iso:
    runs-on: ubuntu-latest
    needs: [ create-release ]
    strategy:
      fail-fast: false
      matrix: 
        arch: [ 'x86_64' ]
    timeout-minutes: 60
    steps:
      - uses: endersonmenezes/free-disk-space@v3
        with:
          rm_cmd: "rmz"
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
      - uses: actions/checkout@v4

      - name: Build ISO
        uses: addnab/docker-run-action@v3
        with:
          image: asterinas/asterinas:0.16.2-20251209
          options: --privileged -v /dev:/dev -v ${{ github.workspace }}:/root/asterinas
          run: |
            make iso RELEASE=1 ARCH=${{ matrix.arch }}
            iso_path=$(realpath ./target/nixos/iso_image/iso/*.iso)
            echo "iso_path=$iso_path"
            cp $iso_path ./asterinas-nixos-$tag-${{ matrix.arch }}.iso
            echo "Copy succeeds"
                
      - name: Upload ISO
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          tag="${{ needs.create-release.outputs.tag }}"
          echo "upload asterinas-nixos-$tag-${{ matrix.arch }}.iso"
          cd ${{ github.workspace }}
          gh release upload "$tag" "asterinas-nixos-$tag-${{ matrix.arch }}.iso"

  publish-release:
    runs-on: ubuntu-latest
    needs: [ create-release, build-iso ]
    steps:
    - name: Publish Release
      env:
        GH_TOKEN: ${{ github.token }}
        GH_REPO: ${{ github.repository }}
      run: gh release edit "${{ needs.create-release.outputs.tag }}" --draft=false