# This workflow pushes a new Git tag to the main branch when the version bumps.

name: Push release tag

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - VERSION

jobs:
  tag_main_branch:
    runs-on: ubuntu-latest
    steps: 
      - name: Add Git tag
        uses: pxpm/github-tag-action@1.0.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          tag: v0.16.0
