# This workflow adds git tag to the main branch when version changes.

name: Release Tag

on:
  push:
    branches:
      - main
    paths:
      - VERSION

jobs:
  tag_main_branch:
    runs-on: ubuntu-latest
    steps: 
      - name: Add git tag 
        uses: pxpm/github-tag-action@1.0.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          tag: v0.5.0
