[package]
name = "aster-virtio"
version = "0.1.0"
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aster-bigtcp.workspace = true
aster-block.workspace = true
aster-console.workspace = true
aster-input.workspace = true
aster-network.workspace = true
aster-pci.workspace = true
aster-rights.workspace = true
aster-softirq.workspace = true
aster-systree.workspace = true
aster-util.workspace = true
bitflags.workspace = true
component.workspace = true
int-to-c-enum.workspace = true
spin.workspace = true
device-id.workspace = true
id-alloc.workspace = true
log.workspace = true
ostd.workspace = true
typeflags-util.workspace = true

[target.x86_64-unknown-none.dependencies]
tdx-guest = { version = "0.2.2", optional = true }

[features]
all = ["cvm_guest"]
cvm_guest = ["dep:tdx-guest", "ostd/cvm_guest"]

[lints]
workspace = true
